*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
.dark-back img{
    filter: brightness(30%);
}
footer{
    z-index: 2;
    height: 250px;
    border-radius: 10px;
}
.icon-green{
    color:white ;
}
